html {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}
.left-column {
    width: 34.11%;
    margin-top: 69px;
    float: left;
    margin-left: 59px;
}
@media only screen and (max-width: 1280px) {
    .left-column {
        width: 42.5rem;
        float: none;
        margin: 0 auto;
    }
}
.right-column {
    width: 53%;
    margin-top: 75px;
    float: left;
    margin-left: 84px;
}
@media only screen and (max-width: 1280px) {
    .right-column {
        width: 42.5rem;
        float: none;
        margin: 0 auto;
    }
}
div {
    display: block;
}
.logo {
    padding-left: 19px;
    margin-bottom: 85px;
}
@media only screen and (max-width: 1280px) {
    .logo {
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 1631px) {
    .logo {
        margin-bottom: 60px;
    }
}
.logo-circle {
    margin: 20px auto 31px auto;
    width: 254px;
    height: 253px;
    border: 1px solid #3d6cb0;
    border-radius: 253px;
}
@media only screen and (max-width: 1280px) {
    .logo-circle {
        margin: 0 auto;
    }
}
.logo-round {
    margin: 15px;
    width: 222px;
    height: 222px;
    background-color: #3d6cb0;
    border-radius: 222px;
}
.logo-content {
    text-align: center;
}
@media only screen and (max-width: 1280px) {
    .logo-content {
        margin: 0;
        text-align: center;
    }
}
.logo-content-name {
    text-transform: uppercase;
    font-size: 54px;
    letter-spacing: 3px;
    margin: 0 0 0 2px;
    padding: 0;
}
.logo-content-surname {
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 2px;
    line-height: 46px;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 1280px) {
    .logo-content-surname {
        margin: 7px auto;
    }
}
.logo-content-job {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0;
    margin: 18px 0;
    padding: 0;
    color: #3d6cb0;
}
@media only screen and (max-width: 1280px) {
    .logo-content-job {
        margin: 15px;
    }
}
.right-column .header-table-right-cell {
    display: table-cell;
    min-width: 343px;
    vertical-align: middle;
}
/***************************************/
/************** СПРАЙТЫ ****************/
.profile-header-icon,
.contact-header-icon,
.skills-header-icon,
.education-header-icon,
.experience-header-icon,
.software-header-icon {
    background: url(img/sprites.png) no-repeat;
    display: inline-block;
}

.profile-header-icon{
    background-position: 0 0;
    width: 82px;
    height: 79px;
}

.contact-header-icon{
    background-position: -100px 0;
    width: 79px;
    height: 79px;
}

.skills-header-icon{
    background-position: -200px 0;
    width: 79px;
    height: 79px;
}

.education-header-icon{
    background-position: -300px 0;
    width: 82px;
    height: 80px;
}

.experience-header-icon{
    background-position: -400px 0;
    width: 85px;
    height: 83px;
}

.software-header-icon{
    background-position: -500px 0;
    width: 82px;
    height: 80px;
}
/********* КОНЕЦ СПРАЙТОВ **********/
/***********************************/

.profile {
    margin-bottom: 51px;
}
@media only screen and (min-width: 1631px) {
    .profile {
        margin-bottom: 30px;
    }
}
.header-part {
    vertical-align: middle;
}
.profile-header-name,
.contact-header-name,
.skills-header-name,
.education-header-name,
.experience-header-name,
.software-header-name {
    color: #3d6cb0;
    font-size: 46px;
    text-transform: uppercase;
    margin-top: 0;
    display: inline-block;
}
.profile-header-name {
    padding-left: 5px;
}
.contact-header-name {
    padding-left: 8px;
}
.skills-header-name {
    padding-left: 4px;
}
.education-header-name {
    padding-left: 16px;
}
.experience-header-name {
    padding-left: 14px;
    margin-top: 0;
}
.software-header-name {
    padding-left: 17px;
    margin-top: 0;
}
.profile-header-line,
.contact-header-line,
.skills-header-line,
.education-header-line,
.experience-header-line,
.software-header-line {
    background-color: #3d6cb0;
    height: 6px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 6px;
}
.profile-header-line {
    width: 185px;
    margin-left: 2px;
}
.contact-header-line {
    width: 162px;
    margin-left: 3px;
}
.skills-header-line {
    width: 213px;
    margin-left: 8px;
}
.education-header-line {
    width: 344px;
    margin-left: 3px;
}
.experience-header-line {
    width: 342px;
    margin: 3px 0 0 0;
}
.software-header-line {
    width: 344px;
    margin: 5px 0 0 18px;
}
@media only screen and (max-width: 1280px) {
    .profile-header-line {
        width: 407px;
        margin-left: 2px;
    }
    .contact-header-line {
        width: 385px;
        margin-left: 3px;
    }
    .skills-header-line {
        width: 436px;
        margin-left: 8px;
    }
    .education-header-line {
        width: 322px;
        margin-left: 3px;
    }
    .experience-header-line {
        width: 315px;
        margin: 3px 0 0 0;
    }
    .software-header-line {
        width: 340px;
        margin: 5px 0 0 0;
    }
}
.section-with-education-experience-software .header-name {
    color: #3d6cb0;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 10px;
}
.profile-text,
.simple-text {
    color: black;
    font-size: 16px;
    padding: 8px 0 0 1px;
    letter-spacing: 0;
    margin: 0;
    line-height: 22px;
}
.contact {
    margin-bottom: 53px;
}
@media only screen and (min-width: 1631px) {
    .contact {
        margin-bottom: 21px;
    }
}
.contact-table {
    display: table;
    width: 470px;
    margin-top: 1px;
}

@media only screen and (max-width: 1280px) {
    .contact-table {
        width: 60%;
        margin: 0 auto;
    }
}
.contact-table-row {
    display: table-row;
}
.contact-table-left-cell {
    display: table-cell;
    width: 30%;
    padding-top: 32px;
    color: #3d6cb0;
    text-transform: uppercase;
    font-size: 22px;
}
@media only screen and (max-width: 1280px) {
    .contact-table-left-cell {
        width: 50%;
    }
}
.contact-table-right-cell {
    display: table-cell;
    font-size: 24px;
}
.skills {
    margin-bottom: 0;
}
@media only screen and (max-width: 1280px) {
    .skills {
        margin-bottom: 60px;
    }
}
.skills-header-icon {
    width: 81px;
}
.skills-creative-block {
    margin-top: 25px;
}
.skills-creative-block,
.skills-teamwork-block,
.skills-innovate-block,
.skills-communication-block {
    text-align: center;
}
.skill-name {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul.skills-points {
    margin: 11px 0 19px 0;
    padding-left: 0;
}
li.point {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    padding-right: 0;
    margin-right: 8px;
}
li.on {
    list-style: none;
    display: inline-block;
    background-color: #3d6cb0;
}
li.off {
    list-style: none;
    display: inline-block;
    background-color: #e6e6e6;
}
.education {
    margin-bottom: 55px;
}
li.black-circle {
    font-size: 73px;
    margin-left: 0;
    list-style-position: inside;
    margin-top: -11px;

}
.black-circle-upper {
    font-size: 73px;
    margin-left: 0;
    list-style-position: inside;
    margin-top: -4px;
}
ul.experience-list {
    padding-left: 14px;
    margin-top: 24px;
}
ul.education-list {
    padding-left: 14px;
    margin-top: 6px;
}
.table {
    margin-top: 14px;
    display: table;
    width: 100%;
}
.table-education-upper {
    margin-top: 24px;
    display: table;
    width: 100%;
}
.table-row {
    display: table-row;
}
.table-left-cell {
    display: table-cell;
    padding-top: 0;
    width: 8%;

    vertical-align: middle;
}
.table-right-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
p.simple-text-in-education,
p.simple-text-in-experience{
    line-height: 20px;
    padding: 5px 0 0 46px;
    margin-bottom: 0;
}
.company-name,
.master-degree {
    text-transform: uppercase;
    font-size: 29px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
    letter-spacing: 0;
    margin-left: -20px;
}
.master-degree {
    color: #3d6cb0;
}
.company-name {
    color: black;
}
.working-period,
.education-period {
    font-size: 29px;
    padding-left: 11px;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
}
.your-job-here,
.university-name {
    font-size: 29px;
    text-transform: uppercase;
    margin-top: -23px;
    padding-left: 43px;
}
.experience {
    margin-bottom: 58px;
}
.experience-title {
    letter-spacing: -1px;
}
.table-experience-upper {
    margin-top: 39px;
    display: table;
    width: 100%;
}
.header-name.bold.software-title {
    padding-right: 15px;
}
.clearfix {
    margin-top: 8px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 693px;
    margin: 0 auto;
}
.software-level {
    margin: 4px 4px 0 0;
}
.software-name {
    font-size: 29px;
    text-transform: uppercase;
    margin-top: 19px;
    margin-bottom: 11px;
}
.software-name.lesser-margin-top {
    margin-bottom: 7px;
}
.progress-bar,
.amount-of-progress {
    display: inline-block;
    height: 25px;
    margin-bottom: 0;
}
.progress-bar {
    background-color: #e6e6e6;
    width: 306px;
}
.amount-of-progress {
    background-color: #3d6cb0;
}
