html {
    font-size: 16px;
}
.section-with-logo-profile-contact-skills {
    width: 34.11%;
    margin-top: 69px;
    float: left;
    margin-left: 59px;
}
.section-with-education-experience-software {
    width: 53%;
    margin-top: 75px;
    float: left;
    margin-left: 84px;
}
@media only screen and (max-width: 1280px) {
    .section-with-logo-profile-contact-skills {
        width: 42.5rem;
        float: none;
        margin: 0 auto;
    }

    .section-with-education-experience-software {
        width: 42.5rem;
        float: none;
        margin: 0 auto;
    }
}
div {
    display: block;
}
.logo {
    padding-left: 19px;
    margin-bottom: 85px;
}
@media only screen and (max-width: 1280px) {
    .logo {
        margin-bottom: 10px;
    }
}
.logo-circle {
    margin: 20px auto 31px auto;
    width: 254px;
    height: 253px;
    border: 1px solid #91abd2;
    border-radius: 253px;
}
@media only screen and (max-width: 1280px) {
    .logo-circle {
        margin: 0 auto;
    }
}
.logo-round {
    margin: 15px;
    width: 222px;
    height: 222px;
    background-color: #91abd2;
    border-radius: 222px;
}

.name-surname {
    text-align: center;
}
@media only screen and (max-width: 1280px) {
    .name-surname {
        margin: 0;
        text-align: center;
    }
}
.name {
    text-transform: uppercase;
    font-size: 54px;
    letter-spacing: 3px;
    margin: 2px 0 0 2px;
    padding: 0;
}
.surname {
    text-transform: uppercase;
    font-size: 65px;
    letter-spacing: 2px;
    margin: -19px 0;
    padding: 0;
}
@media only screen and (max-width: 1280px) {
    .surname {
        margin: -17px auto  15px auto;
    }
}
.job {
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0;
    margin: 19px 0;
    padding: 0;
}
@media only screen and (max-width: 1280px) {
    .job {
        margin: 0;
    }
}

.section-with-education-experience-software .header-table-right-cell {
    display: table-cell;
    min-width: 343px;
    vertical-align: middle;
}
/***************************************/
/************** СПРАЙТЫ ****************/
.profile-icon, .contact-icon, .skills-icon, .education-icon, .experience-icon, .software-icon{
    background: url(img/sprites.png) no-repeat;
    display: inline-block;
}

.profile-icon{
    background-position: 0 0;
    width: 82px;
    height: 79px;
}

.contact-icon{
    background-position: -100px 0;
    width: 79px;
    height: 79px;
}

.skills-icon{
    background-position: -200px 0;
    width: 79px;
    height: 79px;
}

.education-icon{
    background-position: -300px 0;
    width: 82px;
    height: 80px;
}

.experience-icon{
    background-position: -400px 0;
    width: 85px;
    height: 83px;
}

.software-icon{
    background-position: -500px 0;
    width: 82px;
    height: 80px;
}
/********* КОНЕЦ СПРАЙТОВ **********/
/***********************************/

.profile {
    margin-bottom: 51px;
}
.header-part {
    vertical-align: middle;
}
.header-name-profile, .header-name-contact, .header-name-skills, .header-name-education, .header-name-experience, .header-name-software {
    color: #3d6cb0;
    font-size: 46px;
    text-transform: uppercase;
    margin-top: -7px;
    display: inline-block;
}
.header-name-profile {
    padding-left: 5px;
}
.header-name-contact {
    padding-left: 8px;
}
.header-name-skills {
    padding-left: 4px;
}
.header-name-education {
    padding-left: 16px;
}
.header-name-experience {
    padding-left: 14px;
    margin-top: 0;
}
.header-name-software {
    padding-left: 17px;
    margin-top: 0;
}
.header-line-profile, .header-line-contact, .header-line-skills, .header-line-education, .header-line-experience, .header-line-software {
    background-color: #3d6cb0;
    height: 6px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 6px;
}
.header-line-profile {
    width: 185px;
    margin-left: 2px;
}
.header-line-contact {
    width: 162px;
    margin-left: 3px;
}
.header-line-skills {
    width: 213px;
    margin-left: 8px;
}
.header-line-education {
    width: 344px;
    margin-left: 3px;
}
.header-line-experience {
    width: 342px;
    margin: 3px 0 0 -6px;
}
.header-line-software {
    width: 344px;
    margin: 5px 0 0 18px;
}
@media only screen and (max-width: 1280px) {
    .header-line-profile {
        width: 412px;
        margin-left: 2px;
    }
    .header-line-contact {
        width: 389px;
        margin-left: 3px;
    }
    .header-line-skills {
        width: 442px;
        margin-left: 8px;
    }
    .header-line-education {
        width: 328px;
        margin-left: 3px;
    }
    .header-line-experience {
        width: 324px;
        margin: 3px 0 0 0;
    }
    .header-line-software {
        width: 346px;
        margin: 5px 0 0 0;
    }
}
.section-with-education-experience-software .header-name {
    color: #3d6cb0;
    font-size: 46px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 10px;
}
p.simple-text {
    color: black;
    font-size: 16px;
    padding: 8px 0 0 1px;
    letter-spacing: 0;
    margin: 0;
    line-height: 22px;
}
.contact {
    margin-bottom: 53px;
}
.contact-table {
    display: table;
    width: 470px;
    margin-top: 1px;
}

@media only screen and (max-width: 1280px) {
    .contact-table {
        width: 60%;
        margin: 0 auto;
    }
}
.contact-table-row {
    display: table-row;
}
.contact-table-left-cell {
    display: table-cell;
    width: 30%;
    padding-top: 32px;
    color: #3d6cb0;
    text-transform: uppercase;
    font-size: 22px;
}
@media only screen and (max-width: 1280px) {
    .contact-table-left-cell {
        width: 50%;
    }
}
.contact-table-right-cell {
    display: table-cell;
    font-size: 24px;
}
.skills {
    margin-bottom: 0;
}
@media only screen and (max-width: 1280px) {
    .skills {
        margin-bottom: 60px;
    }
}
.skills-icon {
    width: 81px;
}
.creative-block {
    margin-top: 25px;
}
.creative-block, .teamwork-block, .innovate-block, .communication-block {
    text-align: center;
}
.skill-name {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ul.skills-points {
    margin: 11px 0 19px 0;
    padding-left: 0;
}
li.point {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    padding-right: 0;
    margin-right: 8px;
}
li.on {
    list-style: none;
    display: inline-block;
    background-color: #3d6cb0;
}
li.off {
    list-style: none;
    display: inline-block;
    background-color: #e6e6e6;
}
.education {
    margin-bottom: 55px;
}
li.black-circle {
    font-size: 73px;
    margin-left: 0;
    list-style-position: inside;
    margin-top: -13px;

}
.black-circle-upper {
    font-size: 73px;
    margin-left: 0;
    list-style-position: inside;
    margin-top: -8px;
}
ul.list-of-experience {
    padding-left: 14px;
    margin-top: 24px;
}
ul.list-of-education {
    padding-left: 14px;
    margin-top: 9px;
}
.table {
    margin-top: 14px;
    display: table;
    width: 100%;
}
.table-education-upper {
    margin-top: 24px;
    display: table;
    width: 100%;
}
.table-row {
    display: table-row;
}
.table-left-cell {
    display: table-cell;
    padding-top: 0;
    width: 8%;

    vertical-align: middle;
}
.table-right-cell {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
p.simple-text-in-education,
p.simple-text-in-experience{
    line-height: 20px;
    padding: 5px 0 0 46px;
    margin-bottom: 0;
}
.company-name, .master-degree {
    text-transform: uppercase;
    font-size: 29px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
    letter-spacing: 0;
    margin-left: -20px;
}
.master-degree {
    color: #3d6cb0;
}
.company-name {
    color: black;
}
.working-period, .education-period {
    font-size: 29px;
    padding-left: 11px;
    letter-spacing: 0;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
}
.your-job-here, .university-name {
    font-size: 29px;
    text-transform: uppercase;
    margin-top: -23px;
    padding-left: 43px;
}
.experience {
    margin-bottom: 58px;
}
.experience-title {
    letter-spacing: -1px;
}
.table-experience-upper {
    margin-top: 39px;
    display: table;
    width: 100%;
}
.header-name.bold.software-title {
    padding-right: 15px;
}
.clearfix {
    margin-top: 8px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.software-level {

}
.left-software,
.right-software {
    float: left;
    width: 44%;
}
.left-software {
    margin-right: 72px;
    margin-left: 7px;
}
.software-name {
    font-size: 29px;
    text-transform: uppercase;
    margin-top: 19px;
    margin-bottom: 11px;
}
.software-name.lesser-margin-top {
    margin-bottom: 7px;
}
.blueline,
.grayline{
    display: inline-block;
    height: 25px;
    margin-bottom: 0;
}
.blueline {
    background-color: #3d6cb0;
}
.grayline {
    background-color: #e6e6e6;
}
.photoshop-blue-line {
    width: 280px;
}
.photoshop-gray-line {
    width: 27px;
    margin-left: -5px;
}
.illustrator-blue-line {
    width: 217px;
}
.illustrator-gray-line {
    width: 90px;
    margin-left: -5px;
}
.indesign-blue-line {
    width: 174px;
}
.indesign-gray-line {
    width: 133px;
    margin-left: -5px;
}
.dreamweaver-blue-line {
    width: 254px;
}
.dreamweaver-gray-line {
    width: 51px;
    margin-left: -5px;
}
.aftereffects-blue-line {
    width: 188px;
}
.aftereffects-gray-line {
    width: 117px;
    margin-left: -5px;
}
.htmlcss-blue-line {
    width: 278px;
}
.htmlcss-gray-line {
    width: 27px;
    margin-left: -5px;
}
@media only screen and (max-width: 1280px) {
    .photoshop-blue-line {
        width: 275px;
    }
    .photoshop-gray-line {
        width: 25px;
        margin-left: -5px;
    }
    .illustrator-blue-line {
        width: 213px;
    }
    .illustrator-gray-line {
        width: 87px;
        margin-left: -5px;
    }
    .indesign-blue-line {
        width: 171px;
    }
    .indesign-gray-line {
        width: 129px;
        margin-left: -5px;
    }
    .dreamweaver-blue-line {
        width: 250px;
    }
    .dreamweaver-gray-line {
        width: 50px;
        margin-left: -5px;
    }
    .aftereffects-blue-line {
        width: 185px;
    }
    .aftereffects-gray-line {
        width: 115px;
        margin-left: -5px;
    }
    .htmlcss-blue-line {
        width: 275px;
    }
    .htmlcss-gray-line {
        width: 25px;
        margin-left: -5px;
    }
}