.table
    .table__row
        .table__left-cell.font-bold Address
        .table__right-cell.font-regular Main Street, City
    .table__row
        .table__left-cell.font-bold E-mail
        .table__right-cell.font-regular contact@domain.com
    .table__row
        .table__left-cell.font-bold Phone
        .table__right-cell.font-regular 8-800-555-3535   
    .table__row
        .table__left-cell.font-bold Website
        .table__right-cell.font-regular www.yourweb.com
