.person-info
  text-align center
  @media only screen and (max-width 1280px)
    margin 0

.person-info__name
  text-transform uppercase
  font-size 54px
  letter-spacing 3px
  margin 0 0 0 2px
  padding 0
  @media only screen and (min-width 1631px)
    font-size 83px
    letter-spacing 0

.person-info__surname
  text-transform uppercase
  font-size 65px
  letter-spacing 2px
  line-height 46px
  margin 0
  padding 0
  @media only screen and (max-width 1280px)
    margin 7px auto
  @media only screen and (min-width 1631px)
    font-size 99px
    letter-spacing 0
    line-height 58px

.person-info__job
  text-transform uppercase
  font-size 26px
  letter-spacing 0
  margin 18px 0
  padding 0
  color #3d6cb0
  @media only screen and (max-width 1280px)
    margin 15px
  @media only screen and (min-width 1631px)
    font-size 37px
    margin 29px 0