.list
  &__point
    float left
    width 22px
    height 22px
    background-color black
    border-radius 17px
    margin 9px 0 0 13px
    @media only screen and (min-width 1631px)
      width 31px
      height 31px
      margin 13px 0 0 20px
  &__item
    margin-left 59px
    @media only screen and (min-width 1631px)
      margin-left 83px
  &__item-name
    text-transform uppercase
    font-size 29px
    display inline-block
    vertical-align middle
    letter-spacing 0
    @media only screen and (min-width 1631px)
      font-size 41px
      margin-bottom 3px
    &_color
      &_blue
        color #3d6cb0
      &_black
        color black
  &__period
    font-size 29px
    letter-spacing 0
    display inline-block
    vertical-align middle
    margin-left 12px
    @media only screen and (min-width 1631px)
      font-size 40px
  &__item-subname
    font-size 29px
    text-transform uppercase
    margin-bottom 6px
    @media only screen and (min-width 1631px)
      font-size 40px
  &__text
    color black
    font-size 16px
    letter-spacing 0
    margin 0 0 11px 0
    line-height 20px
    @media only screen and (min-width 1631px)
      font-size 25px
      line-height 30px