include ../section-header/section-header.pug
include ../skill/skill.pug

section.skills
    +createHeader('skills', 'left-column')
    .wrapper
        +addSkill('Creative', 9)
        +addSkill('Teamwork', 11)
        +addSkill('Innovate', 6)
        +addSkill('Communication', 11)
