include ../section-header/section-header.pug
include ../skill/skill.pug

section.skills
    +section-header('skills', 'left-column')
    .wrapper
        +skill('Creative', 9)
        +skill('Teamwork', 11)
        +skill('Innovate', 6)
        +skill('Communication', 11)
