@font-face
  font-family 'myriad_pro'
  src: url('./myriad-pro-light-semiextended_31641-webfont.woff') format('woff'),
         url('./myriad-pro-light-semiextended_31641-webfont.ttf') format('truetype'),
         url('./myriad-pro-light-semiextended_31641-webfont.svg#myriad_prolight_semiextended') format('svg')
  font-weight 400
  font-style normal

@font-face
  font-family 'myriad_pro'
  src: url(./myriadproregular-webfont.woff) format('woff'),
         url('./myriadproregular-webfont.ttf') format('truetype'),
         url('./myriadproregular-webfont.svg#myriad_proregular') format('svg')
  font-weight 500
  font-style normal

@font-face
  font-family 'myriad_pro'
  src: url(./myriadprobold-webfont.woff) format('woff'),
         url('./myriadprobold-webfont.ttf') format('truetype'),
         url('./myriadprobold-webfont.svg#myriad_probold') format('svg')
  font-weight 700
  font-style normal

.font-light
  font-family myriad_pro
  font-weight 400
  font-style normal

.font-regular
  font-family myriad_pro
  font-weight 500
  font-style normal

.font-bold
  font-family myriad_pro
  font-weight 700
  font-style normal
