mixin addEducationListItem()
   .list__point
   .list-item
       .list__item-name.list__item-name_color_blue.font-bold Master degree
       .list__period.font-regular // Feb 2011 - Jul 2014
       .list__item-subname.font-regular University name
       p.list__text.font-regular Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
