include ../section-header/section-header.pug
include ../table/table.pug

mixin contact()
    section.contact
        +section-header('contact', 'narrow')
        +table('Main Street, City', 'contact@domain.com', '8-800-555-3535', 'www.yourweb.com')