iconInfo($xPosition, $yPosition, $width, $height)
  background-position $xPosition $yPosition
  width $width
  height $height

.section-header
  position relative
  &__icon
    display inline-block
    vertical-align middle
    position relative
    z-index 10
    background url(./sprites/sprites.png) no-repeat
    @media only screen and (min-width 1631px)
      background url(./sprites/sprites-1920.png) no-repeat
    &_component
      &_profile
        iconInfo(0, 0, 82px, 79px)
        @media only screen and (min-width 1631px)
          iconInfo(0, 0, 116px, 112px)
      &_contact
        iconInfo(-100px, 0, 79px, 79px)
        @media only screen and (min-width 1631px)
          iconInfo(-124px, -1px, 112px, 112px)
      &_skills
        iconInfo(-200px, 0, 79px, 79px)
        @media only screen and (min-width 1631px)
          iconInfo(-250px, 0, 112px, 112px)
      &_education
        iconInfo(-300px, 0, 82px, 80px)
        @media only screen and (min-width 1631px)
          iconInfo(0, -151px, 115px, 112px)
      &_experience
        iconInfo(-400px, 0, 85px, 83px)
        @media only screen and (min-width 1631px)
          iconInfo(-121px, -152px, 119px, 115px)
      &_software
        iconInfo(-500px, 0, 82px, 80px)
        @media only screen and (min-width 1631px)
          iconInfo(-250px, -151px, 115px, 112px)
  &__name
    color #3d6cb0
    font-weight 700
    font-size 3rem
    text-transform uppercase
    display inline-block
    vertical-align middle
    position relative
    z-index 10
    @media only screen and (min-width: 1631px)
      font-size 4rem
    &_size
      &_narrow
        padding-left 5px
        @media only screen and (min-width: 1631px)
          padding-left 10px
      &_wide
        padding-left 15px
        @media only screen and (min-width: 1631px)
          padding-left 24px
  &__line
    background-color #3d6cb0
    height 6px
    box-sizing border-box
    display inline-block
    width 100%
    position absolute
    z-index 0
    top 0
    bottom 0
    left 0
    margin auto
    @media only screen and (min-width 1631px)
      background-color #3d6cb0
      height 9px
  &__buffer-line
    background-color white
    height 20px
    box-sizing border-box
    display inline-block
    position absolute
    z-index 5
    top 0
    bottom 0
    left 0
    margin auto
    &_component
      &_profile
        width 270px
        @media only screen and (min-width 1631px)
          width 379px
      &_contact
        width 292px
        @media only screen and (min-width 1631px)
          width 410px
      &_skills
        width 240px
        @media only screen and (min-width 1631px)
          width 338px
      &_education
        width 354px
        @media only screen and (min-width 1631px)
          width 499px
      &_experience
        width 364px
        @media only screen and (min-width 1631px)
          width 500px
      &_software
        width 354px
        @media only screen and (min-width 1631px)
          width 499px
