mixin createHeader(componentName, position)
    header.section-header
        div(class="section-header__icon section-header__icon_" + componentName)
        div(class="section-header__name section-header__name_position_" + position + " font-bold") #{componentName}
        div(class="section-header__line")
        div(class="section-header__buffer-line section-header__buffer-line_" + componentName)
