include ../section-header/section-header.pug
include ../list/list.pug

mixin experience()
    section.experience
        +section-header('experience', 'right-column')
        .list.experience__list
            - var i = 0
            while i < 3
                +list('experience')
                - i += 1
