mixin software(softwareName, progress)
    .software__level
        p.software__name #{softwareName}
        .software__progress-bar
            div(class = "software__amount-of-progress" style = "width: " + progress + "%")

include ../section-header/section-header.pug

section.software
    +section-header('software', 'right-column')
    .flex-container
        +software('Photoshop', 91)
        +software('Dreamweaver', 83)
        +software('Illustrator', 71)
        +software('After Effects', 61)
        +software('Indesign', 57)
        +software('HTML&CSS3', 91)

