mixin addSoftwareItem(softwareName, progress)
    .software__level
        p.software__name #{softwareName}
        .software__progress-bar
            div(class = "software__amount-of-progress" style = "width: " + progress + "%")

include ../section-header/section-header.pug

mixin software()
    section.software
        +section-header('software', 'wide')
        .flex-container
            +addSoftwareItem('Photoshop', 91)
            +addSoftwareItem('Dreamweaver', 83)
            +addSoftwareItem('Illustrator', 71)
            +addSoftwareItem('After Effects', 61)
            +addSoftwareItem('Indesign', 57)
            +addSoftwareItem('HTML&CSS3', 91)