.flex-container
  display flex
  flex-flow row wrap
  justify-content space-between
  width 693px
  margin 8px auto 0 auto
  @media only screen and (min-width 1631px)
    width 987px
    margin-top 9px

.software
  &__level
    margin 19px 4px 0 0
    @media only screen and (min-width 1631px)
      margin 5px 19px 0 0
  &__name
    font-size 1.75rem
    text-transform uppercase
    margin 0 0 11px 0
    @media only screen and (min-width 1631px)
      font-size 2.5rem
      text-transform uppercase
      margin-top 24px
  &__progress-bar,
  &__amount-of-progress
    display inline-block
    height 25px
    margin-bottom 0
    @media only screen and (min-width 1631px)
      height 33px
  &__progress-bar
    background-color #e6e6e6
    width 306px
    @media only screen and (min-width 1631px)
      width 430px
      margin-top 7px
  &__amount-of-progress
    background-color #3d6cb0