mixin table(address, email, phone, website)
    .table
        .table__row
            .table__left-cell Address
            .table__right-cell #{address}
        .table__row
            .table__left-cell E-mail
            .table__right-cell #{email}
        .table__row
            .table__left-cell Phone
            .table__right-cell #{phone}
        .table__row
            .table__left-cell Website
            .table__right-cell #{website}
