.table
    .table__row
        .table__left-cell Address
        .table__right-cell Main Street, City
    .table__row
        .table__left-cell E-mail
        .table__right-cell contact@domain.com
    .table__row
        .table__left-cell Phone
        .table__right-cell 8-800-555-3535
    .table__row
        .table__left-cell Website
        .table__right-cell www.yourweb.com
