html
  font-size 16px
  color black
  background-color white
  font-family Helvetica, Arial, sans-serif

.left-column
  width 34.11%
  margin 69px 0 0 59px
  float left
  @media only screen and (max-width 1280px)
    width 690px
    float none
    margin 0 auto
  @media only screen and (min-width 1631px)
    margin-left 86px

.right-column
  width 53%
  margin 75px 0 0 84px
  float left
  @media only screen and (max-width 1280px)
    width 690px
    float none
    margin 0 auto
  @media only screen and (min-width 1631px)
    margin 109px 0 0 108px