.person-info
  text-align center
  &__name
    text-transform uppercase
    font-weight 400
    font-size 3.4rem
    letter-spacing 3px
    margin 0 0 0 2px
    @media only screen and (min-width 1631px)
      font-size 5.1rem
      letter-spacing 0
  &__surname
    text-transform uppercase
    font-weight 700
    font-size 4.1rem
    letter-spacing 2px
    line-height 46px
    margin 7px auto
    @media only screen and (min-width 1280px)
      margin 0
    @media only screen and (min-width 1631px)
      font-size 6rem
      letter-spacing 0
      line-height 58px
  &__job
    text-transform uppercase
    font-weight 700
    font-size 1.7rem
    margin 15px
    color #3d6cb0
    @media only screen and (min-width 1280px)
      margin 18px 0
    @media only screen and (min-width 1631px)
      font-size 2.4rem
      margin 29px 0