mixin person-info(personName, personSurname, personJob)
    .person-info
        p.person-info__name #{personName}
        p.person-info__surname #{personSurname}
        p.person-info__job #{personJob}
