.person-info
  text-align center
  &__name
    text-transform uppercase
    font-size 54px
    letter-spacing 3px
    margin 0 0 0 2px
    padding 0
    @media only screen and (min-width 1631px)
      font-size 83px
      letter-spacing 0
  &__surname
    text-transform uppercase
    font-size 65px
    letter-spacing 2px
    line-height 46px
    margin 7px auto
    @media only screen and (min-width 1280px)
      margin 0
    @media only screen and (min-width 1631px)
      font-size 99px
      letter-spacing 0
      line-height 58px
  &__job
    text-transform uppercase
    font-size 26px
    letter-spacing 0
    margin 15px
    color #3d6cb0
    @media only screen and (min-width 1280px)
      margin 18px 0
    @media only screen and (min-width 1631px)
      font-size 37px
      margin 29px 0